<div class="container col-xs-4 col-xs-offset-4 authenticate">
  <div class="row">
    <div class="col-xs-12">
      <input type="email" class="form-spacing" placeholder="Email Address" ng-model="auth.email" required autofocus>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <input type="password" class="form-spacing" placeholder="Password" ng-model="auth.password" required>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 buttons">
      <a class="btn col-xs-6" ng-click="loginUser()" >Login</a>
      <a class="btn col-xs-6" ng-click="registerUser()" >Register</a>
    </div>
  </div>
</div>
