<h1>Board view</h1>
<div class="container">
  <a ng-href="/#!/board/new"><button class="btn btn-lg btn-primary">
    Add New Board
  </button></a>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6" ng-repeat="board in board">
      <div class="panel col-xs-9">
        <a ng-href="/#!/board/{{board.uid}}/pin/{{board.id}}">
          <div class="panel-heading">{{board.title}}</div>
        </a>
          <div class="panel-body">
            <p>{{board.uid}}</p>
          </div>
      </div>
      <div class="col-xs-3">
        <button class="btn btn-warning btn-sm" ng-click="deleteBoard(board.uid)">Trash</button>
      </div>
    </div>
  </div>
</div>
