<h1>Board View</h1>
<div class="board-container">
  <div class="container">
    <a ng-href="/#!/board/new"><button class="btn btn-lg btn-primary board-btn">
      Add New Board
    </button></a>
  </div>
  <div class="container">
    <div class="row">
      <div class="panel col-xs-6" ng-repeat="board in board">
        <div class="col-xs-10">
          <a ng-href="/#!/board/{{board.uid}}/pin/{{board.id}}">
            <div class="panel-heading">{{board.title}}</div>
          </a>
        </div>
        <div class="col-xs-1">
          <a ng-href=/#!/board/edit/{{board.id}}>
          <button class="board-btn" ><i class="fa fa-pencil-square-o board-icon"></i></button>
          </a>
        </div>
        <div class="col-xs-1">
          <button class="board-btn" ng-click="deleteBoard(board.id);"><i class="fa fa-times board-icon"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
