<div class="container">
  <h2>Here Are Your Pins</h2>
  <div class="container">
    <a ng-href="/#!/pin/new/{{boardId}}"><button class="btn col-xs-2">
      Add New Pin
    </button></a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-3" ng-repeat="pin in pin">
        <div class="panel col-xs-3">
          <div class="panel-heading">
            <p>{{pin.title}}</p>
          </div>
          <div class="panel-body">
            <p>{{pin.description}}</p>
          </div>
          <div class="thumbnail">
            <img src="{{pin.url}}">
          </div>
          <div class="col-xs-12 text-center">
            <button class="pin-btn col-xs-5" ng-click="deletePin(pin.id);">Trash</button>
            <a ng-href=/#!/pin/edit/{{pin.id}}/{{pin.boardID}}>
            <button class="pin-btn col-xs-7">Edit Pin</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
